.edjll-button,
.edjll-button-style {
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  color: #fff;
  background-color: #4638c2;
  border: 1px solid #4638c2;
  padding: .375rem .75rem;
  font-family: system-ui, serif;
  font-weight: 600;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s, background-color .15s;
  margin-top: 1rem;
  outline: none !important;

  &:hover {
    background-color: #3b2fa4;
    border: 1px solid #3b2fa4;
  }
}