.edjll-input,
.edjll-input-style {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  padding: 0;
  border-radius: 0.25rem;
  border: 1px solid rgba(255,255,255,.1);
  margin-bottom: 1rem;
  transition: background-color .2s;

  &:focus-within {
    background-color: #2a2b36;
  }

  &__settings {
    display: none;
  }

  &__controller-reduce,
  &__controller-increase {
    padding: 0.3rem 0.6rem;
    cursor: pointer;
    transition: background-color .2s;
    height: 100%;

    &:hover {
      background-color: #2a2b36;
    }
  }

  &__controller-reduce {
    border-right: 1px solid rgba(255, 255, 255, 0.1);
  }

  &__controller-increase {
    border-left: 1px solid rgba(255, 255, 255, 0.1);
  }

  &__label {
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: background-color .2s;

    &__text {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      border-right: 1px solid rgba(255,255,255,.1);
      border-radius: .25rem 0 0 .25rem;
      padding: 0 .75rem;
      margin: .5rem 0;
      font-family: system-ui, serif;
      font-weight: 400;
      user-select: none;
      color: rgba(255,255,255,.8);
    }

    &__images {
      width: 100%;
      display: flex;
      justify-content: center;
      transition: background-color .2s;

      &:hover {
        background-color: #f4f5ff;
      }

      &__preview {
        width: 64px;
        height: 64px;
        padding: 0.5rem;
      }
    }

    &__input {
      width: 100%;
      min-width: 50px;
      height: 100%;
      padding: 0.5rem 0.6rem;
      outline: none;
      color: rgba(255,255,255,.8);
      border: none;
      transition: box-shadow .1s;
      border-radius: 0 .25rem .25rem 0;
      background-color: transparent;

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button, {
        -webkit-appearance: none;
        margin: 0;
      }

      &:-webkit-autofill,
      &:-webkit-autofill:hover,
      &:-webkit-autofill:focus {
        box-shadow: 0 0 0 1000px transparent inset !important;
        transition: background-color 5000s, color 5000s;
      }

      &[type=file] {
        display: none;
      }
    }
  }
}

.edjll-input-style {
  &__label {
    cursor: default;

    &__input {
      display: flex;
      align-items: center;
    }
  }
}