.admin-panel {
  height: 100vh;
  width: 224px;
  background-color: #2c2c34;
  border-right: 1px solid #181924;
  position: fixed;
  top: 0;
  left: 0;
  transition: width 0.2s;
  overflow: hidden;
  z-index: 1;

  & ~ * {
    margin-left: 224px;
    transition: margin-left .2s;
  }

  &--coagulation {
    &:not(:hover) {
      width: 50px;
    }

    &:not(:hover) ~ * {
      margin-left: 50px !important;
    }

    &:not(:hover) .admin-menu__item--active > .admin-menu__item__list {
      height: 0px !important;
    }
  }

  &--quietly {
    & {
      transition: none;
    }

    & ~ * {
      transition: none;
    }
  }

  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    color: #F6F6E9;
    font-weight: 400;
    font-size: 18px;
    font-family: "Montserrat",sans-serif;
    letter-spacing: 0.8px;
    background-color: rgba(0,0,21,.2);

    &:hover {
      text-decoration: none;
      color: #F6F6E9;
    }
  }
}

@import "adminMenu";