.statistics {
  width: 100%;
  height: 100%;

  &__item {
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: .25rem;
    background-color: #23242d;
    border: 1px solid #181924;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    transition: height .2s;

    &__header {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: center;
      padding-bottom: 0.5rem;
      transition: padding-bottom .2s;

      & > h5 {
        font-family: system-ui, serif;
        font-weight: 300;
        color: #e1e1e1;
        margin: .5rem 1rem;
      }

      &__info {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin: .5rem 1rem;

        &__item {
          border-bottom: 2px solid rgb(71 153 235);

          &__text {
            font-size: 0.9rem;
            font-family: system-ui, serif;
            color: #e1e1e1;
          }
        }
      }

      &__controls {

        & > form {
          display: flex;
          align-items: center;
          flex-wrap: wrap;

          & > .edjll-input {
            width: 200px;
            margin: .5rem 1rem;
          }
        }
      }
    }

    &__chart {
      width: 100%;
      height: 90%;
      position: relative;
    }

    &--hidden {
      height: max-content;
    }

    &--hidden & {

      &__header {
        padding-bottom: 0;

        &__controls {
          &__hidden {
            &::before {
              transform: rotate(-45deg);
            }

            &::after {
              transform: rotate(45deg);
            }
          }
        }
      }

      &__chart {
        height: 0 !important;

        &__canvas {
          opacity: 0;
        }
      }
    }
  }
}