@import "table";

.table-wrapper {
  width: 100%;
  height: 100%;
  min-height: 300px;
  margin-bottom: 1rem;
  overflow: hidden;
  box-shadow: none;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.table {
  margin-bottom: 0;

  &__body {

    &__row {
      position: relative;
      &__item {

        & .edjll-select,
        & .edjll-select-style,
        & .edjll-input,
        & .edjll-input-style,
        & .edjll-file-input,
        & .edjll-file-input-style,
        & .edjll-textarea,
        & .edjll-textarea-style {
          margin: 0;
        }
      }
    }

    &__create-row {
      display: flex;
      justify-content: space-between;
      padding: 0 .5rem;
      opacity: .5;
      transition: opacity .2s;
      cursor: pointer;

      &:hover {
        opacity: .8;
      }

      &__item {
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: .25rem;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        margin: .5rem;

        &__text {
          color: rgba(255, 255, 255, 0.8);
          padding: 0 0.75rem;
          margin: .5rem 0;
          height: 100%;
          white-space: nowrap;
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: 400;
          font-size: 0.9rem;
          flex-shrink: 0;
          font-family: system-ui, serif;
        }

        &__input {
          width: 100%;
          height: 100%;
        }

        &:first-of-type &__text {
          min-width: 100px;
          border-left: 1px solid rgba(255, 255, 255, 0.1);
        }

        &:last-of-type:not(:first-of-type) &__text {
          border-right: 1px solid rgba(255, 255, 255, 0.1);
        }
      }
    }
  }
}