.admin-page-controls {
  height: 50px;
  background-color: #2c2c34;

  &__inner {
    width: 100%;
    height: 100%;
    padding: 5px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__location {
    &__text {
      font-weight: 500;
      color: rgba(255,255,255,.75);
    }
  }

  &__buttons {
    &__control-menu {
      width: 28px;
      height: 28px;
      padding: 6px;
      background-color: transparent;
      border: none;
      outline: none !important;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      cursor: pointer;

      & > div {
        width: 100%;
        height: 2px;
        background-color: rgba(255,255,255,.75);
      }
    }
  }

  &__user {
    color: rgba(255,255,255,.75);
    cursor: pointer;
    position: relative;
  }
}