main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: max-content;
  align-content: flex-start;
  grid-gap: 1rem;
  align-items: flex-start;
}

.card {
  display: flex;
  flex-direction: column;
  border: 1px solid #181924;
  border-radius: .25rem;
  background-color: #23242d;
  color: #e1e1e1;

  &__header {
    display: flex;
    align-items: center;
    padding: .75rem 1.25rem;
    border-bottom: 1px solid #181924;
    background-color: #20202a;
    border-radius: .25rem .25rem 0 0;

    &__icon {
      width: 32px;
      height: 32px;
      padding: .2rem;
    }

    &__text {
      font-weight: 500;
      margin-left: .5rem;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    border-radius: 0 0 .25rem .25rem;
    overflow: hidden;

    &__item {
      padding: 0.75rem 1.25rem;
      color: #e1e1e1;
      transition: background-color .2s, color .2s;

      &:hover {
        background-color: #4638c2;
        text-decoration: none;
        color: white;
      }
    }
  }
}