@font-face {
    font-family: OpenSans-Regular;
    src: url(../fonts/OpenSans-Regular.ttf);
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

header {
    background-color: #1f222d;
}

.admin-menu {
    height: 100vh;
    width: 224px;
    background-color: #002B49;
    border-right: 1px solid #031d2e;
    position: fixed;
    top: 0;
    left: 0;
    transition: width 0.2s;
}

.admin-menu .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    margin-bottom: 2.6rem;
    text-decoration: none;
    color: #F6F6E9;
    font-weight: 400;
    font-size: 18px;
    font-family: "Montserrat",sans-serif;
    letter-spacing: 0.8px;
}

.admin-menu-elements {
    list-style: none;
    padding: 0;
    margin: 0;
}

.admin-menu-element {
    overflow: hidden;
}

.admin-menu-element-link {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    line-height: 55px;
    border: none;
    outline: none !important;
    border-top: 1px solid rgba(0,0,0,0);
    background-color: transparent;
    transition: background-color .15s;
    text-decoration: none !important;
    cursor: pointer;
}

a.admin-menu-element-link {
    padding: 1px 6px;
}

.admin-menu-element-link:not(.collapsed) {
    background-color: #052942;
}

.admin-menu-element-link:not(.collapsed) > .admin-menu-element-expend {
    transform: rotate(-135deg);
}

.admin-menu-element-link:hover {
    background-color: #042338;
}

.admin-menu-element-img {
    width: 50px;
    height: 100%;
    position: absolute;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.admin-menu-element-img > img {
    width: 28px;
    height: 28px;
}

.admin-menu-element-name {
    padding-left: 50px;
}

.admin-menu-element-name > span {
    font-size: 16px;
    color: #c2c2c2;
    text-decoration: none;
    font-family: system-ui, serif;
    font-weight: 300;
    letter-spacing: 0.5px;
    white-space: nowrap;
}

.admin-menu-element-expend {
    position: absolute;
    left: 203px;
    width: 6px;
    height: 6px;
    transform: rotate(-45deg);
    transition: transform 0.2s;
}

.admin-menu-element-expend::before {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    position: absolute;
    background-color: #c2c2c2;
}

.admin-menu-element-expend::after {
    content: '';
    display: block;
    width: 1px;
    height: 100%;
    position: absolute;
    background-color: #c2c2c2;
}

.admin-menu-element.active > button::after {
    content: '';
    display: block;
    position: absolute;
    border: 10px solid transparent;
    border-right-color: white;
    right: 0;
}


.admin-menu-coagulation .admin-menu-element-img img {
    transform: rotate(-90deg);
}

.admin-menu-subelements {
    list-style: none;
    padding: 0;
    margin: 0;
}

.admin-menu-subelement-name {
    display: block;
    text-decoration: none !important;
    background-color: #042338;
    padding: 10px 0 10px 40px;
}

.admin-menu-subelement-name span {
    font-family: system-ui, serif;
    font-weight: 300;
    color: #c2c2c2;
    font-size: 0.9rem;
    white-space: nowrap;
}

.admin-page-controls {
    height: 50px;
    margin-left: 224px;
    background-color: white;
    box-shadow: 4px 4px 30px 0px rgba(75,102,171,0.2);
    transition: margin-left 0.2s;
}

.admin-page-controls-wrapper {
    width: 100%;
    height: 100%;
    padding: 5px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.control-menu-button {
    width: 28px;
    height: 28px;
    padding: 6px;
    background-color: transparent;
    border: none;
    outline: none !important;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
}

.control-menu-button > div {
    width: 100%;
    height: 2px;
    background-color: #666666;
}

main {
    flex-grow: 1;
    margin-left: 224px;
    padding: 10px;
}

.coagulation {
    width: 50px;
}

.quietly, .quietly ~ * {
    transition: none !important;
}

.coagulation:hover {
    width: 224px;
}

.coagulation:not(:hover) .collapse.show {
    display: none;
}

.coagulation ~ * {
    margin-left: 50px;
}

.coagulation:hover ~ * {
    margin-left: 224px;
}

.user > button {
    background-color: transparent;
    outline: none !important;
    border: none;
}

.user-first-name,
.user-last-name {
    color: #333;
    font-family: "Montserrat", sans-serif;
    line-height: 1.55;
}

.user-last-name {
    font-weight: 600;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 50px);
    transition: margin-left 0.2s;
}

.form-row, .form-group {
    width: 100%;
}

.table-wrapper {
    height: 95%;
    border-radius: .25rem;
    box-shadow: 4px 4px 30px 0px rgba(75,102,171,0.2);
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.table-wrapper table {
    margin-bottom: 1rem;
}

.table thead th {
    border-top: none;
}