.edjll-graph {
  width: 100%;
  height: 70%;
  max-height: 280px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: .25rem;
  margin-bottom: 1rem;

  &__settings {
    display: none;
  }

  &__controls {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding: 5px;
    height: 69px;

    &__switch {
      width: 120px;
      display: flex;
      flex-direction: column;

      &:not(:first-of-type) {
        margin-left: 20px;
      }

      &__title {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        font-size: 1rem;
        color: rgba(255, 255, 255, 0.8);
      }

      &__inner {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        & > img, & > i {
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 1rem;
          color: white;
          width: 32px;
          height: 32px;
        }

        & > img {
          padding: 5px;
        }

        & > i {
          &:first-of-type {
            color: #d16767;
          }

          &:last-of-type {
            color: #4799eb;
          }
        }
      }

      &__button {
        width: 40px;
        height: 20px;
        outline: none;
        cursor: pointer;
        border-radius: 20px;
        border: 1px solid rgba(255, 255, 255, 0.1);
        flex-shrink: 0;
        padding: 0;
        margin-top: 5px;
        position: relative;

        &::before {
          content: "";
          width: 16px;
          height: 16px;
          border-radius: 50%;
          margin: 1px;
          border: 1px solid black;
          background-color: #d16767;
          display: block;
          transition: background-color 0.2s, right 0.2s;
          position: absolute;
          right: calc(100% - 18px);
        }

        &--active {
          &::before {
            background-color: #4799eb;
            right: 0;
          }
        }
      }
    }
  }
}