.product-category-select-input {
    position: relative;
}

.product-category-select-button {
    width: 38px;
    height: 36px;
    position: absolute;
    top: 0;
    right: 0;
    border-left: 1px solid #ced4da;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.product-category-select-button div {
    width: 12px;
    height: 1.2px;
    background-color: #292a2b;
    transition: 0.5s;
}

.product-category-select-button div:first-of-type {
    transform: rotate(45deg);
    transform-origin: right;
}

.product-category-select-button div:last-of-type {
    transform: rotate(-45deg);
    transform-origin: left;
}

.product-category-select-button.rotate {
    padding: 0 0 10px 0;
}

.product-category-select-button.rotate div:first-of-type {
    transform: rotate(-45deg);
}

.product-category-select-button.rotate div:last-of-type {
    transform: rotate(45deg);
}

.product-category-select {
    width: 100%;
    height: 300px;
    border: 1px solid #ced4da;
    margin: 5px;
    border-radius: .25rem;
    overflow: hidden;
    transition: height 0.5s, border 0.5s, margin 0.5s;
}

.product-category-select.hidden {
    height: 0;
    border: 0;
    margin: 0;
    transition: height 0.5s, border 0.5s, margin 0.5s;
}

.product-category-select-header {
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #ced4da;
    display: flex;
}

.product-category-select-header-element {
    height: 100%;
    background-color: #202538;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    flex-grow: 1;
    min-width: 100px;
    color: white;
    font-family: cursive;
    transition: background-color 0.2s;
}

.product-category-select-header-element.current {
    background-color: #293565;
}

.product-category-select-header-element:not(:last-of-type) {
    border-right: 1px solid #ced4da;
}

.product-category-select-body {
    width: 100%;
    height: calc(100% - 40px);
    position: relative;
    overflow: hidden;
}

.product-category-select-body-level ::-webkit-scrollbar {
    width: 10px;
}
.product-category-select-body-level ::-webkit-scrollbar-track {
    background: #202538;
}
.product-category-select-body-level ::-webkit-scrollbar-thumb {
    background: #293565;
}
.product-category-select-body-level ::-webkit-scrollbar-thumb:hover {
    background: #293565;
}

.product-category-select-body-level {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(auto-fill, 40px);
    height: 100%;
    overflow-y: scroll;
    position: absolute;
    width: 100%;
    z-index: 1;
    background-color: #2f3d75;
}

.product-category-select-body-level span {
    padding: 10px;
    color: black;
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: #7c9ddc;
    transition: background-color 0.2s;
    border: 1px solid #6e93da;
}

.product-category-select-body-level span:hover {
    background-color: #6798f7;
}

.previous {
    left: -100%;
}

.next {
    right: -100%;
}