.user {

  &__header {
    background-color: #20202a;
    border: 1px solid #181924;
    padding: 1rem 1rem 0 1rem;
    border-radius: .25rem .25rem 0 0;
  }

  &__body {
    background-color: #23242d;
    border: 1px solid #181924;
    border-top: none;
    padding: 1rem;
    border-radius: 0 0 .25rem .25rem;

    & > p {
      font-size: 1rem;
    }
  }
}

.nav-tabs .nav-link {
  color: rgba(255,255,255,.75);
  font-size: 1rem;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
  border-color: #181924;
  background-color: #25262f;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: white;
  background-color: #23242d;
  border-color: #181924 #181924 transparent;
}

.status {

  &-error {
    padding: .2rem .4rem;
    border-radius: .25rem;
    background-color: #d16767;
    color: black;
  }

  &-success {
    padding: .2rem .4rem;
    border-radius: .25rem;
    background-color: #45a164;
    color: black;
  }

  &-processing {
    padding: .2rem .4rem;
    border-radius: .25rem;
    background-color: #e8bb5a;
    color: black;
  }
}

.table {

  &__body {
    min-height: 300px;
  }
}