.edjll-input-count-reduce,
.edjll-input-count-add {
  padding: 0.3rem 0.6rem;
  cursor: pointer;
}

.edjll-input-count-reduce {
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.edjll-input-count-add {
  border-left: 1px solid rgba(255, 255, 255, 0.1);
}