body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
    align-items: center;
    background-color: #cbeaff;
}

main {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-items: center;
}

.form-wrapper {
    border-radius: .25rem;
    box-shadow: 4px 4px 30px 0px rgba(75,102,171,0.2);
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.form-wrapper > header {
    display: flex;
    flex-direction: column;
    width: 224px;
    background-color: #002B49;
    flex-shrink: 0;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    text-decoration: none !important;
}

.logo > span {
    color: #F6F6E9;
    font-weight: 400;
    font-size: 18px;
    font-family: "Montserrat",sans-serif;
    letter-spacing: 0.8px;
}

.form-wrapper > header > nav {
    display: flex;
    flex-direction: column;
    height: calc(100% - 50px);
    justify-content: center;
}

.nav-link {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    line-height: 55px;
    border: none;
    outline: none !important;
    border-top: 1px solid rgba(0,0,0,0);
    background-color: transparent;
    transition: background-color .15s;
    text-decoration: none !important;
    padding: 0 0 0 50px;
}

.nav-link-img {
    width: 50px;
    height: 100%;
    position: absolute;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-link-img > img {
    width: 28px;
    height: 28px;
}

.nav-link-name > span {
    font-size: 16px;
    color: #c2c2c2;
    text-decoration: none;
    font-family: system-ui, serif;
    font-weight: 300;
    letter-spacing: 0.5px;
    white-space: nowrap;
}

.nav-link:hover {
    background-color: #042338;
}

.form-wrapper > form {
    padding: 30px;
    background-color: white;
}