.graph-container {
  width: 100%;
  height: 70%;
  border: 1px solid #ced4da;
  border-radius: .25rem;
}

.graph-container__settings {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #ced4da;
  padding-bottom: 10px;
  height: 69px;
}

.switch {
  width: 120px;
  display: flex;
  flex-direction: column;
}
.switch:not(:first-of-type) {
  margin-left: 20px;
}
.switch__title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 1.1rem;
}
.switch__inner {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.switch__inner > img {
  width: 32px;
  height: 32px;
}
.switch__button {
  width: 40px;
  height: 20px;
  outline: none;
  cursor: pointer;
  border-radius: 20px;
  border: 1px solid black;
  flex-shrink: 0;
  padding: 0;
  margin-top: 5px;
  background: linear-gradient(to right, #e85454, #6767ff);
  position: relative;
}
.switch__button::before {
  content: "";
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin: 1px;
  border: 1px solid black;
  background-color: red;
  display: block;
  transition: background-color 0.2s, right 0.2s;
  position: absolute;
  right: calc(100% - 18px);
}

.switch__button-active::before {
  background-color: blue;
  right: 0;
}