.table {
  margin-bottom: 0;

  &__body {
    &__create-row {
      display: flex;
      justify-content: space-between;
      padding: 0 .5rem;
      opacity: .5;
      transition: opacity .2s;
      cursor: pointer;

      &:hover {
        opacity: .8;
      }

      &__item {
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: .25rem;
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        margin: .5rem;

        &__text {
          color: rgba(255, 255, 255, 0.8);
          padding: 0 0.75rem;
          margin: .5rem 0;
          height: 100%;
          white-space: nowrap;
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: 600;
          font-size: 0.9rem;
          flex-shrink: 0;
          font-family: system-ui, serif;
        }

        &__input {
          width: 100%;
          height: 100%;
        }

        &:first-of-type &__text {
          width: 100px;
          border-left: 1px solid rgba(255, 255, 255, 0.1);
        }

        &:last-of-type &__text {
          border-right: 1px solid rgba(255, 255, 255, 0.1);
        }
      }
    }
  }
}